@model HackSU.ViewModels.StudentClassesViewModel
@{
    ViewData["Title"] = "Thanks";
}

<h1 class="text-center">Class Planner for @Model.Student.Name</h1>
<h2 class="text-center">@Model.Student.degree with @Model.Student.route route</h2>
<h3>Classes offered for this degree:</h3>
<br />

<div class="container jumbotron">
    <div class="row">
        <div class="col-lg-4">

            <p>Fall 2019 </p>


            @foreach (HackSU.Models.ClassesModel r in Model.ClassesAvailable)
            {
                if (r.QuarterOffered == "Fall")
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-outline-primary" onclick="myFunction(@r.Credits,this)" id="@r.Name">@r.Name</button>
                            </div>
                        </div>
                    </div>
                }

            }
            <br />

        </div>
        <div class="col-lg-4">

            <p>Winter 2020 </p>


            @foreach (HackSU.Models.ClassesModel r in Model.ClassesAvailable)
            {
                if (r.QuarterOffered == "Winter")
                {

                    <button type="button" class="btn btn-outline-primary" onclick="myFunction(@r.Credits,this)" id="@r.Name">@r.Name</button>

                }

            }

        </div>
        <div class="col-lg-4">

            <p>Spring 2020 </p>


            @foreach (HackSU.Models.ClassesModel r in Model.ClassesAvailable)
            {
                if (r.QuarterOffered == "Spring")
                {

                    <button type="button" class="btn btn-outline-primary" onclick="myFunction(@r.Credits,this)" id="@r.Name">@r.Name</button>

                }
            }

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <h3>Credit Requirements:</h3>
            <br />
        </div>
        <div class="col-lg-7">
            <h3> Requirements For Degree: </h3>
            <br />

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-5">

            <span> Total number of credits (45 needed): </span>
            <b>
                <span id="demo"></span>
            </b>
        </div>
        <div class="col-lg-7">

            <ul>
                <li>
                    <span id="req1" class="">Need to take Pyhysical Databases and Security</span>
                </li>
                <li>
                    <p id="demo1"></p>
                    <span id="req2" class="">Need to take one of the following: fund of soft<br /> engineering, comp system principles 2, or data structures and algorithms</span>
                </li>

            </ul>




        </div>
    </div>
</div>

